    /* css */
    * {
        padding: 0;
        margin: 0;
    }

    body {
        font-family: 'Mulish', sans-serif;
    }

    /* font weights */
    .light {
        font-family: 'Mulish', sans-serif;
        font-weight: 200;
        /* Lehké písmo */
    }

    .normal {
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        /* Normální písmo */
    }

    .bold {
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        /* Tlustší písmo */
    }

    .extra-bold {
        font-family: 'Mulish', sans-serif;
        font-weight: 900;
        /* Velmi tlusté písmo */
    }

    /* navbar */

    #navbar {
        background-color: #AB886D;
        display: flex;
        justify-content: space-between;
        color: #E4E0E1;
        align-items: center;
        padding: 0.75rem;
        letter-spacing: 1px;
        position: fixed;
        /* Připne navbar k vrcholu obrazovky */
        top: 0;
        /* Ujistí se, že je na vrcholu */
        width: 100%;
        /* Šířka navbaru je 100% */
        z-index: 1000;
        /* Ujistí se, že je navbar nad ostatním obsahem */
    }

    #navbar ul {
        display: flex;
        list-style: none;
        font-size: large;
        padding: 0 1.75rem 0 0;
    }

    #navbar li {
        margin: 0.5rem 1rem;
    }

    #navbar a {
        text-decoration: none;
        color: #E4E0E1;
        padding: 0.5rem;
    }

    #navbar a:hover:not(#logo) {
        text-decoration: none;
        color: #E4E0E1;
        padding: 0.5rem;
        background-color: #705947;
        border-radius: 8px;
    }

    #navbar .leftNav {
        font-size: larger;
        margin-left: 1rem;
    }

    /* úvod */
    #uvod {
        background-image: url(../fotky/IMG_0694.jpg );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    #uvod .uvodniBlok {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #uvod .uvodniText {
        display: flex;
        color: #D6C0B3;
        font-size: 3rem;
        padding: 2rem 5rem;
        text-align: center;
    }

    #uvod .uvodniButton a {
        color: #E4E0E1;
        padding: 1.5rem;
        background-color: #AB886D;
        border-radius: 15px;
        text-decoration: none;

    }

    #uvod .uvodniButton:hover a {
        color: #E4E0E1;
        padding: 1.5rem;
        background-color: #745b49;
        border-radius: 15px;
    }

    /* O mě */
    #oMe {
        background-color: #E4E0E1;
        padding: 7vh;
    }

    #oMe .popis {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #oMe h1 {
        text-align: center;
        font-size: 2rem;
    }

    #oMe div {
        margin: 3vh;
    }

    #oMe .oMeLevo {
        max-width: 40vh;
    }

    #oMe .fotka {
        width: 200px;
        /* Šířka a výška kontejneru, můžeš přizpůsobit */
        height: 200px;
        /* Výška */
        overflow: hidden;
        /* Skryje část obrázku, která přesahuje */
        border-radius: 50%;
        /* Dělá kroužek */
        display: flex;
        /* Aby bylo možné centrovat obrázek */
        align-items: center;
        /* Vertikální zarovnání */
        justify-content: center;
        /* Horizontální zarovnání */
        margin: 0 auto;

    }

    #oMe .fotka img {
        width: 100%;
        /* Šířka obrázku bude 100% kontejneru */
        height: auto;
        /* Udržuje poměr stran */
        object-fit: cover;
        object-position: top;
    }

    #oMe .oMePravo {
        max-width: 60vh;
        text-align: justify;
    }

    /* Technika */
    #technika {
        background-color: #D6C0B3;
        padding: 3rem;
    }
    #technika .technika-popis {
        display: flex;
        justify-content: center;
    }
    #technika .technika-polozky {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        transition: transform 0.5s ease;
    }
    #technika img {
        width: 300px;
        height: auto;
        padding: 2rem;
    }
    #technika .technika-polozky:hover {
        transform: scale(1.1);
    }

    #technika h1 {
        text-align: center;
        padding-bottom: 3rem;
        font-size: 2rem;
    }
    /* Ceník */

    #tabulka table {
        width: 60%;
        border-collapse: collapse;
        margin: 0 0 2rem 0;
        font-size: 1rem;
        text-align: left;
    }
    
    #tabulka th, #tabulka td {
        padding: 1rem;
        border: 1px solid #705947;
        /* Lehké orámování buněk */
    }
    
    #tabulka th {
        background-color: #705947;
        color: #E4E0E1;
        font-weight: 700;
        text-transform: uppercase;
        /* Zvýraznění záhlaví tabulky */
    }
    
    #tabulka td {
        background-color: #f9f9f9;
        color: #333;
    }
    
    #tabulka tr:nth-child(even) td {
        background-color: #eee;
        /* Střídavé řádky pro lepší čitelnost */
    }
    
    #tabulka td:nth-child(3), #tabulka td:nth-child(5) {
        text-align: right;
        /* Zarovnání cen a počtu fotografií doprava */
    }
    
    #tabulka tr:hover td {
        background-color: #AB886D;
        color: #fff;
        /* Hover efekt pro zvýraznění řádku */
    }
    
    #tabulka {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #tabulka h1 {
        font-size: 2rem;
        margin: 1.5rem;
        color: #705947;
        font-weight: bold;
    }
    
    /* Kontakt */
    #kontakt {
        background-color: #745b49;
        padding: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: top;
        color: #E4E0E1;
    }

    #kontakt>div {
        margin: 5vh;
        margin-top: 0;
    }

    #kontakt .levyKontakt {
        font-size: 1.2rem;
    }

    #kontakt p {
        margin: 1rem;
        font-weight: 700;
    }

    #kontakt .levyKontakt .IC {
        margin-top: 3rem;
    }

    #kontakt .formular {
        display: flex;
        align-self: center;
    }

    #kontakt .formular input,
    textarea {
        width: 17rem;
        padding: 0.5rem;
        border-radius: 13px;
        font-size: medium;
        margin: 0.5rem;
        border: 0;
    }

    #kontakt .zprava textarea {
        width: 17rem;
        height: 17rem;
        /* Výška pro více řádků */
        padding: 0.5rem;
        border-radius: 13px;
        font-size: medium;
        margin: 0.5rem;
        resize: none;
        /* Zakáže změnu velikosti okna uživatelem */
        font-family: 'Mulish', sans-serif;
    }

    #kontakt .submitButton {
        display: flex;
        width: 7rem;
    }

    #kontakt .submit-button {
        align-items: center;
        background-color: #D6C0B3;
        color: #705947;
        font-weight: 600;
    }

    #kontakt .submit-button:hover {
        align-items: center;
        background-color: #aa8f7f;
        color: #705947;
        cursor: pointer;
    }